# Create Experiment Lists
All-by-all combinations from the antibodies and antigens

In [1]:
import pandas as pd

In [17]:
antibodies = pd.read_excel('../../Experiments.xlsx', sheet_name='Antibodies')
antibodies.sort_values(by='antibody_id', inplace=True)
antibody_ids = antibodies['antibody_id'].tolist()

antigens = pd.read_excel('../../Experiments.xlsx', sheet_name='Antigens')
antigens.sort_values(by='antigen_id', inplace=True)

antigen_ids = antigens['antigen_id'].tolist()

n_experiments = len(antibody_ids) * len(antigen_ids)

print(f"There are {len(antibody_ids)} antibodies X {len(antigen_ids)} antigens, total of {n_experiments} experiments.")

There are 11 antibodies X 163 antigens, total of 1793 experiments.

In [18]:
## Make unique list of experiment IDs
experiments_list = list(set([f"{x}__{y}" for x in antibody_ids for y in antigen_ids]))

## Check if there were any overlapping names
print(f"Experiment count matches? {len(experiments_list) == n_experiments}")

Experiment count matches? True

In [20]:
## Create a dataframe with all the experiments
experiments_df = pd.DataFrame(experiments_list, columns=['experiment_id'])

## Split the experiment_id into antibody_id and antigen_id
# experiments_df[['antibody_id', 'antigen_id']] = experiments_df['experiment_id'].str.split('__', expand=True)

experiments_df.head()

           experiment_id antibody_id  antigen_id
0       H5.3__EPI2800361        H5.3  EPI2800361
1  AVFluIgG01__EPI454493  AVFluIgG01   EPI454493
2        13D4__EPI687187        13D4   EPI687187
3      FLD194__EPI340788      FLD194   EPI340788
4       13D4__EPI1158808        13D4  EPI1158808

In [21]:
## Write to file
experiments_df.to_csv('../4_experiment_submission/experiments_full.csv', index=False)